.container-economy {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    justify-content: space-around;

    margin: 5px;
    padding: 3px;
}

.container-economy .item {
    width: 30%;
    background-color: #F2F4F4;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

    transform: scale(1);
    transition: 0.2s 0.2s ease;
}

.container-economy .item:hover {
    background-color: #FDFEFE;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    transform: scale(1.05);
    transition: 0.3s ease;
}